@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    margin-bottom: 50px;
}

footer {
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 0px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    background-color: #800020;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #800020;
}

a:hover {
    text-decoration: none;
    color: lightgreen;
}

a {
    color: lightgreen;
    text-decoration: none;
}

#big-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    /* box-shadow: 0 2px 4px 2px rgba(0 0 0);
    padding-left: 16px;
    padding-bottom: 16px; */
}

h1 {
    color: #800020;
}

tr:nth-child(even) {
    background-color: lightgrey;
}
